a, a:active, a:hover {
    text-decoration: none;
}
#head{
    top:0;
    left: 0;
    right: 0;
    z-index: 99999;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.head_logo{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 1120px;
    margin : 0 auto;
    text-align: center;
}

.head_logo h1 {
    height: 100%;
}

.head_logo .link_service {
    display: block;
    width: 115px;
    height: 100%;
    font-size: 0;
    line-height:0;
    text-indent: -9999px;
    background: url(//t1.kakaocdn.net/together_image/svg/logo_pc.svg) 50%/contain no-repeat;
}

